:root {
    --main-accent: #079963;
    --grey: #4b474c;
}

.header {
    position: relative;
    width: 100%;
    height: 12vh;
    text-align: center; /* center the text */
    background: var(--main-accent);
    color: black; /* text color */
    z-index: 0;
}

.title {
    position: absolute;
    color: white;
    width: 40%;
    height: 12vh;
    margin: auto;
    left: 3vh;
    top: 3vh;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    margin-left: 60%;
    padding: 0;
    padding-top: 2vh;
}

li {
    float: left;
}

a {
    display: block;
    padding: 20px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 20px;
}

li a {
    text-decoration: none;
    color: black;
}

li a:hover {
    color: white;
}

/* this doesn't work :( */
a:active {
    color: white;
}

.line {
    position: relative;
    width: 100%;
    height: 1vh;
    background: black;
    opacity: .5;
    margin-top: -0.5vh;
    z-index: -1;
    -webkit-filter: blur(.5vh);
}

.slideshow {
    position: relative;
    top: -0.5vh;
    width: 100%;
    height: 88vh;
    background: var(--grey);
    z-index: -2;
}    

.swingset {
    width: 15vh;
    position: absolute;
    left: 0px;
    padding: 1vh;
    margin: auto;
}

body {
    margin: 0;
}

h1 {
    font-family: "Courier New", Courier, monospace;
    font-size: 6vh;
    padding: 0;
    margin: 0;
}

p {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 4vh;
}

.slidePic {
    position: relative;
    height: 88vh;
    display: block;
    margin: auto;
}
